@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");


:root {
  /* colors */
  --background: #f3f3f3;
  --foreground: black;
  --primary: #6c3687;
  --dimmed: #692a88;
  --highlighted: #8b4aac;
  --legal: #1d1d1d;

  /* widths */
  --desktop: 1200px;
  --tablet: 720px;
  --mobile: 0px;

  --desktop-width: 1000px;
  --tablet-width: 700px;
  --mobile-width: 100%;

  /* sizes */
  --header-size: 56px;
  --footer-size: 120px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

main a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

pre {
  margin: 1em 0;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

header {
  font-size: 1.2em;
  max-width: 100vw;
  height: var(--header-size);
  background-color: var(--dimmed);
}

header>nav {
  width: var(--mobile-width);
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header>nav>a {
  margin: 0 1em;
}

header>nav a,
.mobile-nav a,
footer a {
  color: white;
  text-decoration: none;
  margin: 0.1em 1em;
}


header .icon {
  display: none;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dimmed);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
}

.mobile-nav a {
  display: block;
  text-align: center;
  margin: 1em;
}

#closeMenu {
  font-size: 1em;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  min-height: calc(100vh - var(--header-size) - var(--footer-size));
  width: var(--mobile-width);
  margin: auto;
  box-sizing: border-box;
  padding: 1em 1em 2em 1em;
  overflow: hidden;
}

main p {
  max-width: calc(var(--desktop-width) - 20px);
  margin: 1em auto;
  text-indent: 0;
}

main ul {
  list-style-type: square;
  margin-bottom: 1em;
  margin-left: 1em;
}

main section h1 {
  font-size: 2.2em;
  margin: 1em 0;
}

.right {
  text-align: right;
}

footer {
  min-height: var(--footer-size);
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--legal);
  box-sizing: border-box;
  padding: 1em 2em;
}

footer>.inner {
  width: var(--mobile-width);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .quicklinks {
  width: 100%;
}

footer .quicklinks>ul {
  display: grid;
  grid-template-columns: 1fr;
  white-space: nowrap;
}

footer .quicklinks a {
  margin: 0.2em 1em;
  color: #fffd;
}

.socials {
  margin: 1em;
  display: inline;
  color: white;
  float: right;
}

.socials>ul {
  display: inline;
  font-size: 1.4em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socials>ul>a {
  margin: 4px;
}

.fullwidthImg {
  width: 100%;
  object-fit: contain;
}

.dojo-logo {
  display: flex;
  align-items: center;
}

.dojo-logo:hover {
  text-decoration: none;
}

.dojo-logo img {
  height: 40px;
  width: auto;
  margin-right: 0.8em;
}

.active {
  border-bottom: 2px solid white;
}

.active:hover {
  text-decoration: none;
}

.gmaps {
  width: 100%;
  aspect-ratio: 2/1;
}

.classes-table {
  border-collapse: collapse;
  border: 1px solid var(--legal);
}

.classes-table td {
  padding: 8px;
  border: 1px solid var(--legal);
}

.classes-table thead {
  font-weight: 700;
}

.registration {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registration>.register {
  padding: 1em 2em;
  border-radius: 8px;
  background: var(--primary);
  color: white;
  margin: 2em;
}

.registration>.register:hover {
  text-decoration: none;
  background-color: var(--dimmed);
}

.contact-list {
  margin-top: 6em;
  list-style: none;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-list>li {
  height: 70px;
  width: max-content;
  display: inline;
  background-color: var(--legal);
  font-size: 1.2em;
  width: 340px;
  text-align: center;
  margin: 1em;
}

.contact-list>li>a,
.contact-list>li>button {
  font-size: 1em;
  display: block;
  color: white;
  height: 70px;
  width: 340px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-list>li>a>svg {
  margin-right: 4px;
}

.contact-list>li>button {
  box-sizing: border-box;
  outline: none;
  background-color: var(--legal);
  box-shadow: none;
  border: none;
}

.notification {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: none;
  width: 100dvw;
  height: 60px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 900px) {
  header a {
    display: inline;
  }

  header>nav {
    width: var(--tablet-width);
  }

  header>nav>ul {
    display: flex;
    justify-content: end;
  }

  main {
    width: var(--tablet-width);
  }

  main *:target {
    background-color: #ff08;
  }

  footer {
    height: var(--footer-size)
  }

  footer>.inner {
    width: var(--tablet-width);
    margin: auto;
  }

  footer>.inner>.quicklinks {
    width: 40%;
  }

  footer .quicklinks>ul {
    width: 60%;
    grid-template-columns: 1fr 1fr;
  }

  .notification {
    margin: 0;
    width: 400px;
    /* right: 20px; */
    left: unset;
    bottom: var(--footer-size);
  }
}

@media only screen and (min-width: 1200px) {
  header>nav {
    width: var(--desktop-width);
  }

  header>nav>ul {
    display: flex;
    justify-content: end;
  }

  main {
    width: var(--desktop-width);
  }

  footer>.inner {
    width: var(--desktop-width);
  }

  footer .quicklinks {
    width: 60%;
  }

  footer .quicklinks>ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}